In [1]:
import numpy as np 
import pandas as pd

In [2]:
t = (1,2,3,4)
t[1:3]

(2, 3)

In [3]:
dictionary = {"name":["ali","veli","zübeyde","ahmet","kubra","can"],
             "age":[12,34,56,78,None,12],
             "note":[123,456,78,87654,None,89]}
dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [4]:
df = pd.read_csv(r"C:\Users\User\Desktop\data.csv")
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\User\\Desktop\\data.csv'

In [ ]:
head = dataframe1.head() 
print(head)

In [ ]:
tail = dataframe1.tail()
print(tail)

In [ ]:
print(dataframe1.columns)

In [ ]:
print(dataframe1.info())

In [ ]:
print(dataframe1.dtypes)

In [ ]:
print(dataframe1.describe())

In [ ]:
print(dataframe1["name"]) 
print(dataframe1.loc[:, "age"])            
dataframe1["new_future"] = [1,2,3,4,5,6] 
print(dataframe1.loc[:3,"age"])
print(dataframe1.loc[:3, "name":"note"])
print(dataframe1.loc[::-1])

In [ ]:
print(dataframe1.loc[:, "new_feature"])

In [5]:
print(dataframe1.loc[:3, ["name","note"]])

      name     note
0      ali    123.0
1     veli    456.0
2  zübeyde     78.0
3    ahmet  87654.0

In [6]:
print(dataframe1.loc[:,:"age"])

      name   age
0      ali  12.0
1     veli  34.0
2  zübeyde  56.0
3    ahmet  78.0
4    kubra   NaN
5      can  12.0

In [7]:
print(dataframe1.iloc[:,[2]])

      note
0    123.0
1    456.0
2     78.0
3  87654.0
4      NaN
5     89.0

In [8]:
filtre1 = dataframe1.age>10
dataframe1["bool"]= filtre1
print(dataframe1.loc[:,["age","bool"]])

    age   bool
0  12.0   True
1  34.0   True
2  56.0   True
3  78.0   True
4   NaN  False
5  12.0   True

In [9]:
type(filtre1)

pandas.core.series.Series

In [10]:
filtrelenmis_data= dataframe1[filtre1] 
print(filtrelenmis_data)

      name   age     note  bool
0      ali  12.0    123.0  True
1     veli  34.0    456.0  True
2  zübeyde  56.0     78.0  True
3    ahmet  78.0  87654.0  True
5      can  12.0     89.0  True

In [11]:
filtre2 = dataframe1.note>100
filtrelenmis_data2 = dataframe1[filtre2&filtre1] 
print(filtrelenmis_data2)

    name   age     note  bool
0    ali  12.0    123.0  True
1   veli  34.0    456.0  True
3  ahmet  78.0  87654.0  True

In [12]:
dataframe1[dataframe1.age>20]

      name   age     note  bool
1     veli  34.0    456.0  True
2  zübeyde  56.0     78.0  True
3    ahmet  78.0  87654.0  True

In [13]:
mean1 = dataframe1.note.mean()
print(mean1)
mean_np= np.mean(dataframe1.note) 
print(mean_np)

17680.0
17680.0

In [14]:
dataframe1.dropna(inplace=True) 
dataframe1

      name   age     note  bool
0      ali  12.0    123.0  True
1     veli  34.0    456.0  True
2  zübeyde  56.0     78.0  True
3    ahmet  78.0  87654.0  True
5      can  12.0     89.0  True

In [15]:
print(dataframe1.note.mean())
dataframe1["mean"]= ["bad" if dataframe1.note.mean()>each else "good" for each in dataframe1.note]
dataframe1

17680.0

      name   age     note  bool  mean
0      ali  12.0    123.0  True   bad
1     veli  34.0    456.0  True   bad
2  zübeyde  56.0     78.0  True   bad
3    ahmet  78.0  87654.0  True  good
5      can  12.0     89.0  True   bad

In [16]:
dataframe1.columns = [each.upper() for each in dataframe1.columns] 

dataframe1.columns

Index(['NAME', 'AGE', 'NOTE', 'BOOL', 'MEAN'], dtype='object')

In [17]:
dataframe1.drop(["NEW_FUTURE"],axis=1,inplace=True)
dataframe1

KeyError: "['NEW_FUTURE'] not found in axis"

In [ ]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

In [ ]:
data_contact2 = pd.concat([data1,data2],axis=1)
data_contact2

In [ ]:
dataframe1["new_age"] = [each*2 for each in dataframe1.AGE]
dataframe1